.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  top: 0;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 9.3vh;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon {
  color: #bc2027;
  font-size: 2rem;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.navbar-center {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #FCD200;
}

.navbar-right .login-btn {
  background-color: #bc2027;
  color: white;
  padding: 0.6rem 2rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #FCD200;
  color: black;
}


.navbar-right {
    display: flex;
    gap: 10px;
    align-items: center;

}
/* Dashboard: make text black and position relative */
.dashboard-navbar {
  position: relative;
}

.dashboard-navbar .nav-link,
.dashboard-navbar .brand-name {
  color: black;
}
/* Home: position absolute */
.home-navbar {
  position: absolute;
}


.logo-img {
 height: 150px;        /* Adjust height for better fit */
  width: auto;         /* Maintains aspect ratio */
  margin-right: 10px;  /* Space between logo and text */
  object-fit: contain; /* Ensures logo fits without distortion */
  vertical-align: middle; /* optional */
}
