.event-detail-page {
  padding: 40px;
  font-family: sans-serif;
  background-color: #f0f4fc;
}

.detail-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.badges {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.badge {
  padding: 5px 12px;
  border-radius: 14px;
  color: #fff;
  font-weight: bold;
}


.register-btn:hover {
  background: #21618c;
}
.event-detail-page {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.event-pstr {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.detail-box p {
  margin: 10px 0;
}

.register-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}